useDynLib(EBImage)
## FIXME: importClassesFrom("base", ... -- cannot import from "base", why?
##importClassesFrom("base", "array", base.OK = TRUE)
export(
    Image, is.Image, stopIfNotImage, read.image, choose.image,
    TrueColor, Grayscale, morphKern, hist.Image, image.Image, print.Image
)
exportClasses(
    Image
)
exportMethods(
    copy, display, animate, write.image, header, assert, combine,
    show, "[", channel,

    ## FIXME: as.array, as.matrix, ## incompatibility with R < 2.4.1

    features, "features<-",
    colorMode, "colorMode<-",
    fileName, "fileName<-", 
    compression, "compression<-",
    resolution, "resolution<-",
    sampleFilter, "sampleFilter<-",
    imageData, "imageData<-",

    blur, gblur, contrast, denoise, despeckle, edge, enhance, equalize,
    cgamma, mediansmooth, noise, resize, rotate, resample, segment,
    sharpen, umask, thresh, athresh, cthresh, affinet, modulate, negate, 
    normalize, normalize2, fill, flip, flop, erode, dilate, opening, closing,
    distmap, watershed, getObjects, paintObjects, combineObjects, 
    matchObjects, rmObjects
    
)
