useDynLib(EBImage)

importFrom("methods", "Ops")
importFrom("methods", "show")
importFrom("graphics", "image")
importFrom("graphics", "hist")
importFrom("stats", "median")

## classes
exportClasses(Image, IndexedImage)

## image class, copy, assertion, accessors
export(Image, is.Image, stopIfNotImage, print.Image)
export(print.IndexedImage, Grayscale, TrueColor, Color)
exportMethods(header, assert, Ops, "[", as.Image)
exportMethods(colorMode, "colorMode<-",imageData, "imageData<-")
exportMethods(getNumberOfFrames)

## image IO, display
export(readImage, display)
exportMethods(animate, writeImage, show, image)

## spatial transform
exportMethods(resize,resample,rotate)
exportMethods(affinet,flip,flop)
exportMethods(translate)

## image analysis, segmentation
exportMethods(edge,segment)
exportMethods(thresh, athresh, cthresh)

## statistics
export(median.Image)
exportMethods(hist)

## image enhancement, restoration
exportMethods(cgamma,contrast,enhance,equalize,modulate)
exportMethods(denoise,mediansmooth,despeckle,sharpen,umask)
exportMethods(blur,gblur,noise)
exportMethods(normalize,negate,normalize2)

## linear filtering
exportMethods(filter2)
              
## morphological operations
export(morphKern, mkbox, mkball)
exportMethods(erode, dilate, opening, closing)
exportMethods(distmap, watershed, propagate)
exportMethods(floodFill, fillHull)

## colorspace
export(rgbImage, channelMix)
exportMethods(channel)

## image stacking, tiling
exportMethods(combine, tile, untile)

## drawables
export(drawfont)
exportMethods(drawtext)

## object manipulation
exportMethods(paintObjects, matchObjects, stackObjects, rmObjects, reenumerate)

## features extraction
exportMethods(getFeatures, hullFeatures, edgeProfile, edgeFeatures)
exportMethods(cmoments, smoments, rmoments, moments)
exportMethods(haralickMatrix, haralickFeatures, zernikeMoments)

## GUI interactive
export(chooseImage)

## misc
exportMethods(frameDist)

## deprecated
export(read.image, choose.image)
exportMethods(write.image, hull.features, edge.profile, edge.features)
exportMethods(haralick.matrix, haralick.features, zernike.moments)
